<body>
    <h1>
        <% if (day == 0 || day == 1) { %>
            It's the Weekend, go have fun! 
            <% } else { %>
            It's a Weekday, go to work!
            <% } %>
    </h1>
</body>
